app-movie-list{
    float: left;
}
app-movie-details{
    float: left;
}
:host{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.title{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-self: center;
    margin-bottom: 2px solid greenyellow;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
.games{
    background-color: cornflowerblue;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: xx-large;
    border: 2px solid blue;
    border-radius: 6px;
}
.hotels{
    background-color: rgb(128, 82, 128);
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: xx-large;
    border: 2px solid purple;
    border-radius: 6px;
}

.games:hover{
    background-color: whitesmoke;
}
.hotels:hover{
    background-color: whitesmoke;
}
a{
    text-decoration: none;
    color: black;
}